/*
	Include the following line in your header, or override the below styles.

	<link rel="stylesheet" href="/N2O/cc_styles.css" type="text/css" media="Screen" charset="iso-8859-1" />
*/

/* Style for the content div in all default windows. */
.ccContent
{

}

/* Style for field and window error messages. */
.ccError
{
	color: #cc0000;
	font-weight: bold;
}

/* Style for field and window error messages. */
.ccLabelError
{
	color: #cc0000;
	font-weight: bold;
}

/* Style for window status messages. */
.ccStatus
{
	color: #009900;
	font-weight: bold;
}

/* Style for the CC_Summary table. */
.ccSummary
{
	border: 1px solid #000000;
	width: 100%;
}

/* Style for CC_Summary column headings row. */
tr.ccSummaryHeadings td, tr.ccSummaryHeadings a:hover, tr.ccSummaryHeadings a:link, tr.ccSummaryHeadings a:visited
{
	font-weight: bold;
	color: #ffffff;
}

.ccSummarySearch input, .ccSummarySearch select, .ccSummaryControl select, .ccSummaryControl input
{
	font-size: 10px;
}

.ccSummarySearch span, .ccSummaryControl span
{
	font-size: 11px;
}

/* The style of the div that contains the download buttons. */
.ccSummaryDownload
{
	margin-top: 6px;
}

/* Style for CC_Summary data rows. */
tr.ccSummaryData td
{

}

/* Style for CC_Summary status row. */
.ccSummaryStatus
{
	margin-bottom: 6px;
}

/* Style for CC_Summary control row (previous, next, etc. buttons). */
.ccSummaryControl
{

}

/* Style for the Search-O-Matic */
.ccSummarySearch
{

}

/* Style for linkable labels. */
.ccClickableLabel
{
	cursor: pointer;
}

/* Style for disabled buttons. */
.ccDisabled
{
	color: #999999;
}

/* Style for required fields. */
.ccRequiredField
{
}

/* Style for non-required fields. */
.ccNonRequiredField
{
}

/* Style for file upload field tables. */
.ccFileTable
{
	border: 1px dotted #999999;
}

/* Style for file upload field tables. */
.ccFileName, .ccFileDetails
{
	font-size: 10px;
}

/* Style for file upload field tables. */
.ccFileName
{
	font-weight: bold;
}

form
{
	margin: 0px;
	padding: 0px;
}
